@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}
header{
    background-color: rgb(170, 165, 165);
    height:100px ;
}
h1{
    text-align: center;
}
menu li{
    display: inline-block;
    background-color: grey;
}
