@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}

html,body{
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}
header{
    background-color: rgb(170, 165, 165);
    
}
h1{
    text-align: center;
    padding: 10px;
}
#menub{
    display: block;
    background-color: rgb(34, 33, 33);
    color: white;
    width: 100vw;
    padding: 5px;
    text-align: center;
}
#menub:hover{
    background-color: rgba(255, 255, 255, 0.712);
    color: black;
    cursor: pointer;
}
menu{
    display: none;
}
menu li{
    padding: 10px;
    border-top: 1px solid black;
    background-color: rgb(78, 77, 77);
    color: rgba(255, 255, 255, 0.856);
    text-align: center;

}
menu li:hover{
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;

}
main{
    width: 85vw;
    background-color: white;
    margin: auto;
    margin-top:10px ;
    padding: 15px;
    border-radius: 10px;
}
article p{
    text-indent: 20px;
    line-height: 1.1em;
    text-align: justify;
    margin-bottom: 15px;
}
h2{
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: white;
}
footer{
    text-align: center;
    background-color: rgb(102, 101, 101);
    color: white;
    padding: 10px;
}