@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@font-face {

    font-family:'idroid' ;
    src: url('fontes/idroid.otf');
}

body{
    margin: 0px;
    background-color: #c5ebd6;
    line-height: 1.5em;

}
p{
    margin: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 20px;
}
h1,h2{

   font-family: 'idroid';
   font-weight: normal ;
   color: #2fa866

}
h1{
    font-weight:normal;
}
h2{
    background-image: linear-gradient(to right, #83e1ad ,white);
}

header{
    text-shadow: 1px 1px  black;
    font-family: 'Dancing Script';
    text-align: center;
    color: white; 
    padding: 10px;
    background-image: linear-gradient(to bottom,#3ddc84,#063d1e);
}
header > p{
    color: rgba(255, 255, 255, 0.527);
}
header > h1{
    color: white; 
    font-family: cursive;
    
}
nav{
    background-color: #063d1e;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
} 
nav > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
nav > a:hover{
    background-color:#0b5f2f;
    padding: 10px;
   
}
main{

    box-shadow: 1px 1px 1px black;
    margin: auto;
    background-color: white;
    min-width: 400px;
    max-width: 800px;
    padding: 10px;
}
.frame{
    background-color: #063d1e;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 30px;
    
}
aside{
    margin: 10px;
    
}
#aprender{

    background-color: #3ddc84;
    padding: 3px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
#outro{

    background-color: #c5ebd6;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
ul{
    list-style-type: '\2714\0020\0020';
    columns: 2;
    font-family: Arial, Helvetica, sans-serif;
}
#img1{
    text-align: center;
}
#frame{
    text-align: center;
}
.link{
    color: #063d1e;
    text-decoration: none;
    font-weight: bold;
    
}
.link:hover{
    text-decoration: underline;
}
footer{
    text-align: center;
    background-color: #063d1e;
    color: white;
}